## İleri Birleştirme Teknikleri

In [1]:
import pandas as pd

In [6]:
# birebir birleştirme : tüm elemanların 2 veri setinde de yer alması olayıdır.

In [4]:
df1 = pd.DataFrame({'calisanlar': ['ali','veli','ayse','fatma'],
                    'grup': ['muhasebe','muhendislik','muhendislik','ik']})

df1

  calisanlar         grup
0        ali     muhasebe
1       veli  muhendislik
2       ayse  muhendislik
3      fatma           ik

In [5]:
df2 = pd.DataFrame({'calisanlar': ['ali','veli','ayse','fatma'],
                    'ilk_giris': ['2010','2008','2014','2020']})

df2

  calisanlar ilk_giris
0        ali      2010
1       veli      2008
2       ayse      2014
3      fatma      2020

In [7]:
# merge : birleştimeleri otomatik yapıyor.
pd.merge(df1,df2)

  calisanlar         grup ilk_giris
0        ali     muhasebe      2010
1       veli  muhendislik      2008
2       ayse  muhendislik      2014
3      fatma           ik      2020

In [8]:
# on : üzerinde birleştirme yapar.
pd.merge(df1,df2, on ="calisanlar")

  calisanlar         grup ilk_giris
0        ali     muhasebe      2010
1       veli  muhendislik      2008
2       ayse  muhendislik      2014
3      fatma           ik      2020

In [9]:
# coktan teke 
df3 = pd.merge(df1,df2)
df3

  calisanlar         grup ilk_giris
0        ali     muhasebe      2010
1       veli  muhendislik      2008
2       ayse  muhendislik      2014
3      fatma           ik      2020

In [11]:
df4 = pd.DataFrame({'grup': ['muhasebe','muhendislik','ik'],
                   'mudur': ['Caner','Mustafa','Berk']})

df4

          grup    mudur
0     muhasebe    Caner
1  muhendislik  Mustafa
2           ik     Berk

In [12]:
# coklu ve tekli yapılar nasıl birleşti 
pd.merge(df3,df4)

  calisanlar         grup ilk_giris    mudur
0        ali     muhasebe      2010    Caner
1       veli  muhendislik      2008  Mustafa
2       ayse  muhendislik      2014  Mustafa
3      fatma           ik      2020     Berk

In [ ]:
# çoktan coka.

mühendislik : excel, matlab vs gibi df olusuturp merge edlir.