## Gözlem ve Değişken Seçimi

In [2]:
# loc ve iloc

In [1]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    15     7     8
1     3    14     5
2    13    19    19
3    22     2    12
4    26     2    22
5    12     6    20
6    13     9     8
7     4    11    27
8     8    28    17
9    11     2    15

In [4]:
# loc : tanimladığı şekliyle seçim yapmak için kullanılır.

In [5]:
# indexlemeye sadık kalarak değeri döner
df.loc[0:3]

   var1  var2  var3
0    15     7     8
1     3    14     5
2    13    19    19
3    22     2    12

In [6]:
# iloc: alışık olduğumuz indexleme mantığıyla seçim yapar.

In [7]:
df.iloc[0:3]

   var1  var2  var3
0    15     7     8
1     3    14     5
2    13    19    19

In [8]:
df.iloc[0,0]

15

In [9]:
df.iloc[:3,:2]

   var1  var2
0    15     7
1     3    14
2    13    19

In [10]:
df.loc[0:3,"var3"]

0     8
1     5
2    19
3    12
Name: var3, dtype: int32

In [11]:
# bunda hata döner. dönmemesi için loc kullanılmalı.
df.iloc[0:3,"var3"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [13]:
df.iloc[0:3]

   var1  var2  var3
0    15     7     8
1     3    14     5
2    13    19    19

In [14]:
# sadece o değeri seçmek istersem:
df.iloc[0:3]["var3"]

0     8
1     5
2    19
Name: var3, dtype: int32